<div class="container-fluid add-to-screen">
    <div class="d-flex justify-content-center">
        <button id="btn-install" class="btn btn-primary d-none">Add To Homescreen</button>
    </div>
</div>
<br />
