@import "node_modules/bootstrap/scss/bootstrap";
@import "values";
@import "features";
@import "carousel";

#home-carousel {
  margin-bottom: 2rem;
  height: $carousel-height;
  width: 100%;
}

.carousel-item {
  height: $carousel-height;

  .cover-photo {
    object-fit: cover;
    word-wrap: break-word;
  }

  .carousel-caption {
    h1, p {
      color: #dcdcdc;
    }
  }

  > img {
    height: $carousel-height;
  }
}

.card-cover {
  a {
    text-decoration: none;
    color: inherit;
  }
}

img.new-arrival-img {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

.new-arrival-img-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-muted a {
  text-decoration: none;
  color: inherit;
}
